# Virtual environment
.venv
# Python cache
__pycache__/
*.py[cod]
# Data files
data/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

.env
# Ignore everything in the models directory
models/*

# Allow the models directory itself
!models/

scripts/run_nba_ml_main.bat